<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.pc.dao.UserMapper">
    <select id="findAllUser" resultType="com.service.rbac.apilist.model.UserModel">
        select * from t_user
    </select>

    <select id="queryUserByNameAndPassword" parameterType="com.service.rbac.apilist.form.PhoneAndPasswordForm" resultType="com.service.rbac.apilist.model.UserModel">
        select * from t_user where phone = #{phone} and password = #{password}
    </select>

    <insert id="insertUser" parameterType="com.service.rbac.apilist.form.UserForm">
        insert into t_user(id, nike, name, phone, password, create_time)
        values(#{id}, #{nike}, #{name}, #{phone}, #{password}, now())
    </insert>

    <update id="updateUser" parameterType="com.service.rbac.apilist.form.UserForm">
        update t_user
        <set>
            <if test="nike != null and nike != ''">nike = #{nike},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
        </set>
        where id = #{id}
    </update>
</mapper>