<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.pc.dao.UserMessageMapper">
    <select id="findAllUserMessage" resultType="com.service.car.apilist.model.UserMessageModel">
        select message.id, message.user_id, message.message_content, message.create_time, t_user.nickname, t_user.avatar_url
        from t_user_message message
        left join t_user on message.user_id =t_user.id
        order by message.create_time
    </select>

    <insert id="insertUserMessage" parameterType="com.service.car.apilist.form.UserMessageForm">
        insert into t_user_message(id, user_id, to_user_id, group_id, message_content, create_time)
        values(#{id}, #{userId} , #{toUserId} , #{groupId} , #{messageContent} , now())
    </insert>
</mapper>